1. Buatlah sebuah function yang dapat mengkonversi suhu dari kelvin ke celcius, dan celcius ke kelvin.

In [73]:
def cel2kel(C):
  '''
  Fungsi untuk mengubah Celsius ke Kelvin
  '''
  K = C + 273.15
  print("Nilai Suhu", C, "derajat Celsius ke Kelvin adalah:")
  return K

def kel2cel(K):
  '''
  Fungsi untuk mengubah Kelvin ke Celsius 
  '''
  C = K - 273.5
  print("Nilai Suhu", K, "derajat Kelvin ke Celsius adalah:")
  return C

In [74]:
cel2kel(100)

Nilai Suhu 100 derajat Celsius ke Kelvin adalah:

373.15

In [75]:
kel2cel(100)

Nilai Suhu 100 derajat Kelvin ke Celsius adalah:

-173.5

2. Buatlah sebuah function yang dapat mengkonversi suhu ke fahrenheit. Tambahkan parameter untuk memastikan bahwa argumen yang dimasukan adalah celcius atau kelvin. Panggil function yang pertama jika diperlukan.

In [76]:
def convert_2_fahr(suhu, mode='Celsius'):
  '''
  fungsi ini digunkanan unutk mengkonversi suhu celsius/reamur ke fahrenheit.
  :param: mode: tipw suhu awal | celsius/reamur | str
  :output suhu: suhu fahrenheit | int
  '''
  if mode == 'Celsius':
    print("Nilai Suhu", suhu, "derajat Celsius ke Fahrenheit adalah:")
    F = (suhu * 9/5) + 32
    return F
  elif mode == 'Kelvin':
    suhu = kel2cel(suhu)
    print(suhu)
    print("Nilai Suhu", suhu, "derajat Kelvin ke Fahrenheit adalah:")
    F = (suhu * 9/5) + 32
    return F

In [77]:
convert_2_fahr(100, 'Celsius')

Nilai Suhu 100 derajat Celsius ke Fahrenheit adalah:

212.0

In [78]:
convert_2_fahr(100, mode='Kelvin')

Nilai Suhu 100 derajat Kelvin ke Celsius adalah:
-173.5
Nilai Suhu -173.5 derajat Kelvin ke Fahrenheit adalah:

-280.3

3. Buatlah sebuah function yang dapat mengkonversi suhu dari fahrenheit. Berikan argumen untuk memastikan bahwa outputnya dalah celcius atau kelvin.
4. Berikan dokumentasi pada setiap baris kode yang kalian tulis.

In [79]:
def fahr_to_others(suhu, mode='Celsius'):
  '''
  Fungsi ini digunakan untuk mengkonversi suhu dari Fahrenheit to Celsius/Kelvin.
  :param : input nilai suhu int | mode suhu Celsius/Kelvin | str
  :output: Suhu Celsius/Kelvin | int

  '''
  if mode == 'Celsius':
    C = (suhu - 32) * 5/9
    print("Nilai Suhu", suhu, "derajat Fahrenheit ke Celsius adalah:")
    return C
  elif mode == 'Kelvin':
    K = ((suhu - 32) * 5/9) + 273.5
    print("Nilai Suhu", suhu, "derajat Fahrenheit ke Kelvin adalah:")
    return K

In [80]:
fahr_to_others(212, 'Celsius')

Nilai Suhu 212 derajat Fahrenheit ke Celsius adalah:

100.0

In [81]:
fahr_to_others(-280.3, 'Kelvin')

Nilai Suhu -280.3 derajat Fahrenheit ke Kelvin adalah:

100.0